body {
    background-color: #183a4a;
    text-align: center;
}

#container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: white;
    font-size: 60px;
}

.square {
    height: 100px;
    width: calc(100% / 7 - 10px );
    margin: 0 5px 10px 5px;
    background-color: #1389B2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-fizz {
    background-color: #61d2a4;
}

.square-buzz {
    background-color: #f9d277;
}

.square-fizzbuzz {
    background-color: #de5471;
}

